@import "leaflet/dist/leaflet.css";
:root {
  --margin-medium: 10px;
  --padding-big-40: 40px;
  --padding-medium-20: 20px;
  --padding-small-10: 10px;
  --font-medium: 18px;
  --color-white: white;
  --steel-blue: #4682b4; /* تعریف متغیر گمشده */
}

body {
  direction: rtl;  
}



html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





@font-face {
  font-family: 'Dirooz';
  src: url('/Fonts/Dirooz.woff') format('woff'),
       url('/Fonts/Dirooz.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* برای بهینه‌سازی سرعت لود */
}

.font_text {
  font-family: Dirooz;
}

.slider {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 300px;
  margin-top: 80px;
}

.container_box_service {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.box_service {
  max-width: 200px;
  margin: 10px;
  background-color: rgb(83, 129, 255);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

.box_service:hover {
  transform: scale(1.2);
}



/* footer */
.container_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 500;
  background-color: #0000e9;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}










.container_service_fix {
  margin-top: 40px;
  margin-bottom: 80px;
}

.fix_box {
  margin: 10px;
  background-color: rgb(131, 139, 248);
  border-radius: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;

}

.ul_fix {
  margin-top: 10px;
}

.top_button {
  padding-top: 10px;
}

.profile_box {
  margin-top: 10px;
  padding-left: 20px;
}
#profile {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  
}








.container_box_courses_all {
  margin-top: 20px;
  margin-bottom: 80px;
}
.container_title_train {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 20px;
}



#green {
  color: green;
}
.container_find {
  display: flex;
  justify-content: center;
}

.find_course {
  text-align: center;
}




.course_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #e3f2fd; /* آبی روشن */
  margin: 20px;
}

.course_card .course-image img {
  border-radius: 10px;
}


#courses_images {
  
  width: 100%;
}
.course_card .course-text h5 {
  color: #0d47a1; /* آبی تیره */
  font-weight: bold;
  margin-bottom: 10px;
}

.course_text {
  
  text-align: center;
}

#titleColor {
  color: #1565c0;
  font-weight: bold;
  text-align: center;
}


.sub_price {
  text-align: start;
  padding-top: 20px;
  color:#0d47a1;
  font-weight: bold;
}

.mg_co_ser {
  margin-top: 50px;
}


/*No Ready Shop */



.mg_co_shop {
  margin-top: 80px;
}

.container_shop_box {
  display: flex;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
  
}



.container_text {
  margin-top: 10px;
  margin-right: 15px;
}

.img_size {
  width: 150px;
  height: 150px;
}

.nothing {
  color: red;
}

#depot{
  margin-top: 10px;
  color: green;
}



.price_box_shop {
  position: absolute;
  bottom: 10px;
  left: 10px;
}





/* Ai  */


.box_file {
  display: flex;
  justify-content: center;
  background-color: #1565c0;
  height: 500px;
  margin: 20px;
}
.hamyar {
  text-align: center;
  padding-top: 80px;
  
}

.box_file {
  position: relative;
}
.text_pos {
  position: absolute;
  top: 50%;

}
.text_pos_sub {
  position: absolute;
  top: 60%;

}

.btn_inp {
  position: absolute;
  bottom: 20px;
  border: none;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#file-input {
  display: none;
}


button {
  -webkit-tap-highlight-color: transparent;
  
}

div {
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* for responsive is   .course_card .find_course  */